{% extends 'base.html' %}
{% block content %}
<div class="wrap">
<h1>비밀번호변경</h1>
<form action="" method="post">
    {% csrf_token %}
    {% if form.errors %}
        <p>아래내용을 확인하세요</p>
    {% endif %}
    <!--{{ form.old_password.label_tag }} -->
    <label for="id_old_password">이전 비밀번호</label>{{ form.old_password }}
    <!--{{ form.new_password1.label_tag }} -->
    <label for="id_new_password1">새 비밀번호</label>{{ form.new_password1 }}
    <!--{{ form.new_password2.label_tag }} -->
    <label for="id_new_password2">새 비밀번호(확인)</label>{{ form.new_password2 }}
    <input type="submit" value="비밀번호 변경">
</form>
</div>
{% endblock %}