<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>장고 관리자페이지</title>
        {% load staticfiles %}
    </head>
    <body>
        <header>
            <h1>장고 관리자페이지</h1>
            <div>
                <nav class="linksub">
                    {% if user.is_authenticated %}
                        <ul>
                            <li><p class="f16_c_f">안녕하세요. '{{ user.username }}'님</p></li>
                             <li><a class="f16_c_f" href="{% url 'password_change' %}">비밀번호 변경</a></li>
                            <li><a class="f16_c_f" href="{% url 'logout' %}">로그아웃</a></li>
                        {% else %}
                            <li><a class="f16_c_f" href="{% url 'login' %}">로그인</a></li>
                            <li><a class="f16_c_f" href="{% url 'register' %}">회원가입</a></li>
                        </ul>
                    {% endif %}
                </nav>
            </div>
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>